h3{
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color:red;
    font-size: large;
    cursor: pointer;
    font-weight: bold;
}
h1{
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}